doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript'  src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')